annotated-types==0.7.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
cryptography==44.0.2
dnspython==2.7.0
gmssl==3.2.2
idna==3.10
loguru==0.7.3
pyOpenSSL==25.0.0
pycparser==2.22
pycryptodomex==3.22.0
pydantic==2.11.3
pydantic-core==2.33.1
pymongo==4.12.0
requests==2.32.3
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
win32-setctime==1.2.0